server {
    listen 80;
    listen [::]:80;

    # TODO: DONE(?) ->This should be your server name.
    server_name www.realitycomposer.online;

    location / {
        proxy_pass http://localhost:9111;
    }

    location /api {
        proxy_pass http://localhost:1999;
    }

   location /works {
        proxy_pass http://localhost:1999;
    }

}
